name: Build

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

env:
  MAKEFLAGS: "-j4"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ipxe/ipxe-doxygen
    steps:

      - name: Configure
        id: pages
        uses: actions/configure-pages@v5

      - name: Check out code
        uses: actions/checkout@v6
        with:
          repository: ipxe/ipxe

      - name: Build
        run: |
          make -C src doc

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: src/bin/doc/html

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:

      - name: Deploy
        id: deploy
        uses: actions/deploy-pages@v4
